body {
	background-color: #EEE;
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
}
#wrapper {
	background-color: #FFF;
	padding: 1em 2em 1em 2em;
	width: 600px;
	height: 100%;
	margin-left: auto;
	margin-right: auto;
}
#nodelist {
	width: 80%;
}